{% extends "base.html" %}

{% block content %}
<h3>Your current balance in account {{user.id}} is:   {{balance}} </h3>
<br>
<h4>Transactions:</h4>
<div class="table-responsive">
  <table class='table'>
    <th>Transaction ID</th>
    <th>Date</th>
    <th>Vendor/Description</th>
    <th>Deposit/Withdrawal</th>
    <th>Amount</th>
    <tbody>    </tbody>

      {% for transaction in transactions %}
      <tr>
          <td><a href="#">{{transaction.id}}</a></td>
          <td>{{transaction.date}}</td>
          <td>{{transaction.vendor}}</td>
          <td>{{transaction.transaction_type}}</td>
          <td>{{transaction.dollar_amount}}</td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}
